
[Unit]
Description=Start servopi events
Wants=network-online.target
After=network.target network-online.target

[Service]
Environment="ENVIRONMENT=prod"
User=pi

WorkingDirectory=/home/pi/servopi
Type=simple
ExecStart=/usr/bin/python3 servopi_events.py
Restart=on-abort
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
